@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Press+Start+2P&display=swap');

/* Import custom CSS files */
/* @import "./base.css"; */
/* @import "./components.css"; */


/* When input is focused, remove border & shadow from grid */
#wrapper:focus-within #game {
  @apply border-transparent shadow-none;
}

/* When input is focused, give it brand border */
#wrapper:focus-within #text-input {
  @apply border border-brand outline-none;
  border-style: solid;
}


@theme {
  --animate-spin: spin 1s linear infinite;
  --color-brand: #11ce60; /* lime-500 by default */
  --font-mono: "JetBrains Mono", monospace;
  --font-retro: "Press Start 2P", system-ui;
  --shadow-retro: 4px 4px 0 #ff00ff, 8px 8px 0 #00ffff;
  --shadow-retro-lg: 6px 6px 0 #ff00ff, 12px 12px 0 #00ffff;

  /* shadow-retro Animations */
  --shadow-retro-small: 1px 1px 0 #ff00ff, 2px 2px 0 #00ffff;
  --shadow-retro-large: 4px 4px 0 #ff00ff, 8px 8px 0 #00ffff;
  --animate-retro-shadow: retro-shadow-grow 0.3s forwards;
}

@keyframes retro-shadow-grow {
  from {
    box-shadow: var(--shadow-retro-small);
  }
  to {
    box-shadow: var(--shadow-retro-large);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.block {
  @apply font-mono bg-brand text-black flex items-center justify-center;
}

.cell {
  @apply w-[20px] h-[20px] bg-[#111] border border-black;
  @apply text-white text-[12px] font-mono flex items-center justify-center;
}

.locked-cell {
    @apply font-mono bg-[#222] flex items-center justify-center;
}

.retro-shadow {
  box-shadow: 4px 4px 0 #ff00ff, 8px 8px 0 #00ffff;
}


.retro-btn {
  @apply py-4 px-8 bg-brand text-black uppercase  font-retro;
  @apply cursor-pointer transition-all;
  @apply hover:animate-retro-shadow
}

.retro-btn-secondary {
  @apply py-4 px-8 border-brand text-brand uppercase font-retro;
  @apply cursor-pointer transition-all hover:bg-brand border hover:text-black;
  @apply hover:animate-retro-shadow
}
