@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.font-retro {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.modal-bg {
    line-height: 2;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.modal {
    background: #000;
    color: lime;
    border: 1px solid #00ff00;
    padding: 4rem 2rem 2rem;
    border-radius: 8px;
    position: relative;
    min-width: 250px;

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
.continue-btn {
    background-color: #11ce60;
    color: rgb(0, 0, 0);
    border: none;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-top: 1rem;
    width: 100%;
    transition: all 0.2s ease;
}

.continue-btn:hover {
    background-color: #0fb350;
    transform: translateY(-2px);
}
